body {
  font-family: helvetica;
  background-color: #eee;
  padding: 0;
  margin: 0;
}

* {
    box-sizing: border-box;
}

.line {
  position: relative;
}

.track {
  position: relative;
  height: 32px;
  overflow-x: hidden;
}

.station {
  display: inline-block;
  position: absolute;
  font-size: 8px;
  line-height: 10px;
  height: 10px;
  border: 1px solid #222;
  background-color: #fff;
  color: #222;
  top: 27px;
  z-index: 10;
}

.train {
  display: inline-block;
  position: absolute;
  line-height: 20px;
  width: 20px;
  padding-left: 2px;
  padding-top: 2px;
  top: 0px;
}

.train.reverse {
  transform: scale(-1, 1);
  top: 10px;
}

.yellow.train {
  background-color: rgba(160, 160, 32, 0.5);
}

.red.train {
  background-color: rgba(160, 64, 64, 0.5);
}

.blue.train {
  background-color: rgba(32, 32, 255, 0.5);
}

.green.train {
  background-color: rgba(32, 160, 32, 0.5);
}

.orage.train {
  background-color: rgba(255, 160, 32, 0.5);
}

.yellow {
  color: #aa2;
}

.red{
  color: #a44;
}

.blue {
  color: #22f;
}

.green {
  color: #2a2;
}

.orange {
  color: #fa2;
}

.track:last-child {
  border-top: 1px solid #888;
}
